
@{
	ViewData["Title"] = "Expected Divs Chart";
}

@section scripts
{
	<script>
		window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainerApprooved", {
				zoomEnabled: true,
				title: {
					text: "Дивиденды, одобренные советом директоров",
					fontSize: 20,
				},
				axisX: {
					xValueType: "dateTime",
					valueFormatString: "DD MMM"
				},
				axisY: {
					title: "Доходность выплаты, %",
					titleFontSize: 17,
					labelFontSize: 14,
				},
				axisY2: {
					title: "Сумма выплат",
					titleFontSize: 17,
					labelFontSize: 14,
				},
				data: [
					{
						type: "bubble",
						color: "#80FF80",
						xValueType: "dateTime",
						yValueFormatString: "####.##",
						zValueFormatString: "####.##",
						indexLabel: "{name}",
						indexLabelFontWeight: "bold",
						toolTipContent: "<b>{name}</b><br/>дата: {x} <br/>доходность: {y}%<br/>сумма: {z} руб.",
						dataPoints: @Html.Raw(ViewBag.ChartDataPoints)
					},
					{
						type: "stepLine",
						color: "#F08080",
						axisYType: "secondary",
						toolTipContent: "Накопительный итог: {y}",
						yValueFormatString: "####.## руб",
						dataPoints: @Html.Raw(ViewBag.ChartVolumeDataPoints)
					}
				
				]
			});
			chart.render();


			var chart2 = new CanvasJS.Chart("chartContainerPossible", {
				zoomEnabled: true,
				title: {
					text: "Возможные дивиденды, неподтвержденные советом директоров",
					fontSize: 20,
				},
				axisX: {
					xValueType: "dateTime",
					labelFontSize: 14,
					interval: 1,
					intervalType: "month",
				},
				axisY: {
					title: "Доходность выплаты, %",
					titleFontSize: 17,
					labelFontSize: 14,
					//suffix: "%",
				},
				axisY2: {
					title: "Сумма выплат",
					titleFontSize: 17,
					labelFontSize: 14,
				},
				data: [
					{
						type: "bubble",
						xValueType: "dateTime",
						yValueFormatString: "####.##",
						zValueFormatString: "####.##",
						indexLabel: "{name}",
						indexLabelFontSize: 10,
						toolTipContent: "<b>{name}</b><br/>дата: {x} <br/>доходность: {y}%<br/>сумма: {z} руб.",
						dataPoints: @Html.Raw(ViewBag.PossibleDivsChartDataPoints)
							},
					{
						type: "stepLine",
						color: "#F08080",
						axisYType: "secondary",
						toolTipContent: "Накопительный итог: {y}",
						yValueFormatString: "####.## руб",
						dataPoints: @Html.Raw(ViewBag.PossibleDivsChartVolumeDataPoints)
					}

				]
			});
			chart2.render();
		}
	</script>
}

<div class="container">
	<h3 style="text-align:center">Ожидаемый в будущем приход дивидендов (данные с 
		<a href="https://www.dohod.ru/ik/analytics/dividend" target="_blank">Dohod.ru</a>
	)

	</h3>
	<div id="chartContainerApprooved" style="width: 100%; height: 400px; display: inline-block;"></div>
	<div id="chartContainerPossible" style="width: 100%; height: 550px;display: inline-block;margin-top:30px;"></div>
</div>