<div class="container">
    <h3>Погашение облигации или акции внешнее</h3>
    <p>Заводить просто как категория досрочное погашение.</p>
    <p>В secCodes проставить дату погашения</p>
    <h3>Закрытие позиции самостоятельно</h3>
    <p>Пример - MGTSP 2022-04-07. Все как и выше. Никаких сделок по продаже в deals не добавлять.</p>
    <h3>Внешнее закрытие одного и открытие другого тикера</h3>
    <p>Пример - SELGP -> SELG 2021-12-23. Делаем досрочное погашение в инкоминг, делаем сделку по открытию второго тикера. По первому добавить дату закрытия</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <a asp-action="Incoming" class="btn btn-outline-success">Назад к списку зачислений</a>
</div>